node_modules
.pnpm-store/
.bun
.turbo
.DS_Store
*.log
*.tsbuildinfo
.astro
packages/*/dist
packages/*/dev/dist
packages/*/out
packages/marketing/public/r/
packages/desktop/.electron-runtime/
.env
.env.local
build/
.logs/
release/
release-mock/
.honk
.amp/
.idea/
.vitest-*
__screenshots__/
.tanstack
squashfs-root/
.vercel
