node_modules
.pnpm-store/
.bun
.turbo
.DS_Store
*.log
*.tsbuildinfo
apps/*/dist
apps/*/out
.astro
packages/*/dist
packages/*/out
packages/desktop/.electron-runtime/
.env
.env.local
build/
.logs/
release/
release-mock/
.honk
.idea/
apps/web/.playwright
apps/web/playwright-report
apps/web/src/components/__screenshots__
.vitest-*
__screenshots__/
.tanstack
squashfs-root/
.vercel
